body {
    margin-left: auto;
    margin-right: auto;
	font-family: Verdana,sans-serif;
	line-height: 1.5;
	margin: 0px !important;
}

.go-button {
	background-color:#c0392b;
	color: white;
    display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:16px;
	padding:10px 20px;
	text-decoration:none;
	border: none;
}
.go-button:hover {
	background-color:#e74c3c;
}
.go-button:active {
	position:relative;
	top:1px;
}

.validate-text {
	color: darkred;
}

.red-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background-color:#e32d00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:12px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.red-button:hover {
	background-color:#ff2b00;
}
.red-button:active {
	position:relative;
	top:1px;
}

.black-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #302c2b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #302c2b;
	box-shadow:inset 0px 1px 0px 0px #302c2b;
	background-color:#000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #2e2e2e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:12px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #292321;
}
.black-button:hover {
	background-color:#4a4a4a;
}
.black-button:active {
	position:relative;
	top:1px;
}

#current-bet-info {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bet-quantity {
	width: 150px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	font-weight: bold;
	border: 3px solid black;
	padding: 5px;

}

#game-controls {
	height: 150px;
}

#result-message {
	font-size: 26px;
	height: 60px;
}

.good-message {
	color: green;
}

.bad-message {
	color: red;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: midnightblue;
}

#menu li {
    float: left;
}

#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: darkblue;
}


#setup-game {
	padding: 12px;
}

.col-left {
	width: 30%;
	float:left;
}

.col-right {
	width: 70%;
	float: left;
}

.row {
	clear: both;
}

.form-row {
	margin: 20px;
}

.form-input {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.setup-form {
	width: 600px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.intro {
	font-family: futura-pt, sans-serif;
	text-align: justify;
}

#first-part {
	background-color: #2980b9;
	padding: 2em 5em 2em 5em;
	font-size: 1.8em;
	color: white;
	text-align: center;
}

#see-answer {
	margin-top: 1em;
}

#see-answer input {
	font-size: 1em;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#see-answer a:hover {
	color: greenyellow;
}

#second-part {
	background-color: #1abc9c;
	padding: 2em 5em 2em 5em;
	font-size: 1.2em;
	color: black;
}

.hidden {
	display: none;
}

.black {
	background-color: black;
}

.black:hover {
	background-color: #292321;
}

.red {
	background-color: darkred;
}

.center-aligned {
	text-align: center;
}

.contrast-color {
	color: #030D1C;
	font-weight: bold;
	font-size: 1.1em;
}

.red:hover {
	background-color:maroon;
}

.roulette {
	border-collapse: separate;
    border-spacing: 5px 15px;
	margin-left: auto;
	margin-right: auto;
}

.roulette td {
	width: 80px;
	height: 80px;
	font-size: 0.6em;
}

#third-part {
	min-height: 500px;
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding: 2em 5em 10em 5em;
}

#third-part label {
    cursor : help;
}