<div id="welcome-screen">
  <div class="intro">
    <div id="first-part" slide-sideways="right" class="hidden">
      <p>The <strong>Martingale System</strong>, advocates that by doubling your bet every time you lose, you will eventually
        win the initial bet.
      </p>
    </div>
    <div id="second-part" slide-sideways="left" class="hidden">
      <p>Since there is always a limit to how many times you can double your bet (credit limit), Martingale is potentially destructive
        </p>
          <p>This simulation allows you to try as many times as you want without any risk</p>
    </div>
  </div>
  <div id="third-part" class="hidden" slide-sideways="down" ng-init="init()">
    <h1>Start Game</h1>
    <div id="setup-game">
      <p>You will need to win {{ game.neededRounds }} rounds to get a profit of {{ game.target }} €. The maximum number of bets
        per round is {{ game.maxTries }} before you run out of credit</p>
      <p>Your chances of success are <strong>{{game.probabilityFormat}}</strong></p>
      <div class="setup-form">
        <div class="form-row">
          <div class="col-left">
            <label title="The initial bet. The higher it is, the more you'll earn per game won, but the more likely you'll go bankrupt"
              for="initialBet">Initial Bet</label>
          </div>
          <div class="col-right">
            <div id="initial-bet" slider min="10" max="2000" value="initialBet" step="10"></div> <span>{{ game.initialBet | number  }} €</span>
          </div>
        </div>

        <div class="row"></div>

        <div class="form-row">
          <div class="col-left">
            <label title="The maximum credit line from the casino. If it is higher, the chances are slightly better but by doubling the bet each time, it grows exponentially"
              for="max-bet">Maximum Bet</label>
          </div>
          <div class="col-right">
            <div id="max-bet" slider min="100" max="5000" value="maxBet" step="100"></div> <span>{{ game.maxBet | number  }} €</span>
          </div>
        </div>

        <div class="row"></div>

        <div class="form-row">
          <div class="col-left">
            <label title="How much you would like to win. If you'd like to win more than the initial bet, you'll have to play several rounds"
              for="target">Earnings Target</label>
          </div>
          <div class="col-right">
            <div id="target" slider min="100" max="20000" value="target" step="100" watch="true"></div> <span>{{ game.target | number  }} €</span>
          </div>
        </div>

        <div class="row"></div>

        <div class="form-row">
          <div class="col-left">
            <label title="If this was an investment, what would the yield be? You sure can beat the S&P 500. Or can you?" for="roi">Expected return on investment</label>
          </div>
          <div class="col-right">
            <input id="roi" ng-model="game.roiFormat" readonly />
          </div>
        </div>

        <div class="row"></div>

        <div class="form-row form-input">
          <input id="start-game" ng-click="startGame()" class="go-button" type="submit" value="Start Game" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay round-screen"></div>