<div id="start-intro">
  <p>The <a href="https://en.wikipedia.org/wiki/Martingale_(betting_system)">Martingale Betting System</a> is one of the best
    known mathematical fallacies related to gambling</p>
  <p>If a bet with a chance of 1/2 of winning means that the probability of losing is high, the Martingale system, although
    reducing the chances of losing, with its exponential growth means that loses will be very heavy. Only with unlimited
    credit and time can it be a surefire way of becoming rich </p>
  <p>This simulation allows you to play Martingale games to be able to experiment without risking any money</p>
</div>

<div id="start" ng-init="init()">
  <div id="setup-game">
    <p>You will need to win {{ game.neededRounds }} rounds to get a profit of {{ game.target }} €. The maximum number of bets
      per round is {{ game.maxTries }} before you run out of credit</p>
    <p>Your chances of success are <strong>{{game.probabilityFormat}}</strong></p>

    <div class="setup-form">
      <div class="form-row">
        <div class="col-left">
          <label title="The initial bet. The higher it is, the more you'll earn per game won, but the more likely you'll go bankrupt"
            for="initialBet">Initial Bet</label>
        </div>
        <div class="col-right">
          <div id="initial-bet" slider min="10" max="5000" value="initialBet" step="10"></div> <span>{{ game.initialBet | number  }} €</span>
        </div>
      </div>

      <div class="row"></div>

      <div class="form-row">
        <div class="col-left">
          <label title="The maximum credit line from the casino. If it is higher, the chances are slightly better but by doubling the bet each time, it grows exponentially"
            for="max-bet">Maximum Bet</label>
        </div>
        <div class="col-right">
          <div id="max-bet" slider min="100" max="100000" value="maxBet" step="100"></div> <span>{{ game.maxBet | number  }} €</span>
        </div>
      </div>

      <div class="row"></div>

      <div class="form-row">
        <div class="col-left">
          <label title="How much you would like to win. If you'd like to win more than the initial bet, you'll have to play several rounds"
            for="target">Earnings Target</label>
        </div>
        <div class="col-right">
          <div id="target" slider min="100" max="200000" value="target" step="100" watch="true"></div> <span>{{ game.target | number  }} €</span>
        </div>
      </div>

      <div class="row"></div>

      <div class="form-row">
        <div class="col-left">
          <label title="If this was an investment, what would the yield be? You sure can beat the S&P 500. Or can you?" for="roi">Expected return on investment</label>
        </div>
        <div class="col-right">
          <input id="roi" ng-model="game.roiFormat" readonly />
        </div>
      </div>

      <div class="row"></div>

      <div class="form-row form-input">
        <input id="start-game" ng-click="startGame()" class="go-button" type="submit" value="Start Game" />
      </div>
    </div>
  </div>
</div>